@model IEnumerable<LinksDBManager.Models.ProjectLinkModel>

@{
    ViewData["Title"] = "View project links";
}

<h1>Project links</h1>

<p>
    <a asp-action="CreateProjectLink">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdpProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HdbProjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdpProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HdbProjectId)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateProjectLink", new ProjectLinkModel {Id = item.Id, CdpProjectId = item.CdpProjectId, HdbProjectId = item.HdbProjectId /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteProjectLink", new {Id = item.Id /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
